body {
  font-family: sans-serif;
  /* background-image: url('veggies.jpg'); */
  background-color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  background-image: url('veggies.jpg');
  padding-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

#table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.table-label {
  background-color: #2db92d;
  border: 1px solid black;
  padding: 8px;
  color: white;
  vertical-align: middle;
  text-align: center;
}

.info {
  border: 1px solid black;
  padding: 8px;
  vertical-align: middle;
  text-align: center;
}

h2,
h1 {
  text-align: center;
  align-content: center;
}

table {
  padding-top: 10px;
}

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.total-cost {
  text-align: center;
}

.nav-bar {
  white-space: nowrap;
  align-items: center;
  color: #2db92d;
  background-color: #e6e6e6;
  display: flex;
  height: 4em;
  position: fixed;
  font-style: arial;
  opacity: 0.8;
  left: 0;
  top: 0;
}

nav {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
}

nav .links {
  float: center;
  color: #2db92d;
  text-decoration: none;
  font-size: 14px;
  font-style: arial;
}

.form-control-textbox {
  border: 0;
  border-bottom: 2px solid white;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  height: 70px;
  text-align: center;
  padding: 10px;
  background: transparent;
  color: white;
  display: inline-block;
  display: block;
}

.form-control-textbox:focus {
  outline: 0;
  color: white;
}

.form-control-textbox::placeholder {
  color: white;
}

.search-btn {
  position: relative;
  display: block;
  height: 30px;
  margin: 20px 0;
  text-align: center;
  opacity: 1;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
  display: inline-block;
  margin-right: 5%;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 0.3px;
  box-shadow: none;
  background-color: white;
  color: black;
}

.nav-bar-textbox {
  border-radius: 30px;
  height: 30px;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

.nav-search-btn {
  display: block;
  height: 30px;
  margin: 20px 0;
  text-align: right;
  opacity: 1;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  border-radius: 30px;
  font-size: 10px;
  box-shadow: none;
  background-color: white;
  color: black;
}

h1 .recipe-title {
  padding-left: 20px;
}

li {
  text-align: center;
}

.result-container {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul .wrapper {
  flex: 1 1 40%;
  border: 1px solid #e6e6e6;
}

.recipe-name {
  color: black;
}

.recipe-image {
  height: 25em;
  width: auto;
}

.single-recipe-container {
  background-color: white;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  height: 100vh;
}

.single-recipe-image {
  height: 25em;
  width: auto;
}

table#table {
  display: inline-table;
}

.wrapper {
  display: grid;
}

.disclaimer {
  font-size: 7px;
  padding-bottom: 10px;
}

.visit-recipe {
  border-radius: 30px;
  font-size: 13px;
  background-color: #2db92d;
  color: white;
}

.div-button {
  padding-bottom: 25px;
}
